<style>
            
 
  .row.login_page button.login_close {
      color: #fff;
      background: none;
      position: absolute;
      border: none;
      outline: none;
      right: 2rem;
      font-size: 2.5rem;
      top: 2rem;
    cursor:pointer;
  }
              .row.login_page {
                margin: 5rem 0 10rem;
      height: 100%;
              }
              .col-md-8.col-md-offset-2 {
                  width: 100%;
                      display: flex;
      height: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
              }
  .col-md-8.col-md-offset-2 .well {
  
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: row;
      max-width: 1400px;
      margin: 0 auto;
  }
              .col-md-8.col-md-offset-2 .well h2 {
  font-size: 4rem;
      border-bottom: 1px solid #ddd;
      padding-bottom: 4rem;
      margin-bottom: 4rem;
      margin-top: 0;
      width: 46%;
              }
              .col-md-8.col-md-offset-2 .well h2 span {
                  font-size: 1rem;
                  display: block;
                  margin-top: 1rem;
                font-weight:300;
              }
              
   .col-md-8.col-md-offset-2 .well h2 span a {
  text-decoration: none;
      margin-left: 1rem;
      color: #FF3E52;
      font-weight: 600;
      border: 1px solid #FF3E52;
      border-radius: 50px;
      padding: 0.2rem 0.5rem;
      font-size: 0.8rem;
  }
               .col-md-8.col-md-offset-2 .well span.pull-right a {
  text-decoration: none;
      color: #FF3E52;
      font-weight: 600;
      border-radius: 50px;
      padding: 0.2rem 0.5rem;
      font-size: 0.9rem;
  }
              .col-md-8.col-md-offset-2 .well .form-group input {
      padding: 1rem 1.5rem;
      border: 1px solid #999999;
      border-radius: 50px;
      margin-bottom: 1rem;
      outline: none;
      font-size: 1rem;
      line-height: 1.5;
                    width: 40%;
              }
              .col-md-8.col-md-offset-2 .well .form-group {
                margin-top:1rem;
                    display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
              }
              .col-md-8.col-md-offset-2 .well form {
                    width: 40%;
              }
              .col-md-8.col-md-offset-2 .login_img {
                width: 50%;
              }
              .col-md-8.col-md-offset-2 .login_img img {
                width: 100%;
              }
              
  .col-md-8.col-md-offset-2 .well form .checkbox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9rem;
      font-weight: 500;
    margin-bottom:1rem;
    
      flex-direction: row;
  }
  button#loginBtn {
      width: 100%;
      background-color: #FF3E52;
      border-radius: 50px;
      border: none;
      padding: 1rem 1.5rem;
      font-size: 1.1rem;
      font-weight: bold;
      color: #fff;
      margin-top: 2rem;
  }
              
              
              
              
  body {
      margin: 0;
      overflow-x: hidden;
  }
              
              
  
  .background {
      position: absolute;
      z-index: 9;
      top: 55%;
  }   
              .background img {
                width:100%;
              }
              .main_top img {
      width: 100%;
      position: relative;
  }
              .main_top img.m_main {
      display: none;
  }
              .main_top .main_text {
      position: absolute;
      top: 17%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      color: #fff;
  }
            .main_text h2 {
      font-weight: 300;
      font-size: 5rem;
      line-height: 1.2;
  }
              .main_text p {
      margin: 3rem 0;
      font-size: 1.5rem;
      font-weight: 100;
  }
              .main_text button {
      background: #C267FF;
      border: none;
      border-radius: 50px;
               color: #fff;
      display: block;
      padding: 0.7rem 2.5rem;
      font-size: 1.1rem;
                margin: 0 auto;
  }
       .section1 {
      margin: 5rem 0 10rem;
  }
              .section1 .icon_text {
      text-align: center;
  }
              .section1 .icon_text img {
      width: 70px;
  }
              .section1 .icon_text span.text_h3 {
      font-size: 3rem;
      font-weight: 300;
      color: #3D3D3D;
                display: block;
  }
              .section1 .icon_text span.text_p {
      font-size: 1.1rem;
      font-weight: 300;
      margin-top: 1rem;
                display: block;
  }
                          .section2 span.text_h3 {
      font-size: 3rem;
      font-weight: 300;
      color: #3D3D3D;
                display: block;
                text-align:center;
  }
              .section2 {
                margin-bottom:10rem;
              } 
              .section2 span.text_p {
      font-size: 1.1rem;
      font-weight: 300;
      margin-top: 1rem;
                display: block;
                color:#000;
                text-align:center;
  }
              .items_wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 7rem auto;
      max-width: 1400px;
  }
             .items_wrap .section1-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
        text-align:center;
  }
              .items_wrap .section1-item img {
      width: 55px;
  }
  #score-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  #score-container .col {
      margin: 0 5rem;
  }
              #score-container .col p.count-num {
                font-size:3.5rem;
              }
              .sec01_img, .sec02_img {
              width: 70px;
                text-align:center;
              }
              
              .section3_1 {
                display:none;
              }
              .section_03 .sec_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15rem;
  }
  .section_03 h3 {
    text-align: center;
    margin: 10rem 0 6rem;
    font-weight: 300;
    font-size: 3rem;
    color: #3D3D3D;
  }
  .section_03 .sec_wrap .first_wrap {
    width:44%;
  }
  .section_03 .sec_wrap .second_wrap {
    margin-top: 4rem;
     width:44%;
  }
  .section_03 .sec_wrap .sec4 {
    margin-bottom: 7rem;
  }
  .section_03 .sec_wrap .sec4 img {
    width: 100%;
  }
  .section_03 .sec_wrap .sec4 p {
      font-size: 0.9rem;
      font-weight: 300;
      margin: 1rem 0 1.5rem;
      padding-left: 1.8rem;
      line-height: 1.8;
      color: #000;
      text-align: left;
  }
  .section_03 .sec_wrap div .sec4 strong {
    display: flex;
    font-size: 1.2rem;
    margin-top: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color:#000;
  }
  .section_03 .sec_wrap div .sec4 strong span {
    background: #FF435B;
    color: #fff;
    width: 22px;
    display: inline-flex;
    height: 22px;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    line-height: 2.5;
    font-weight: 400;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  .review {
    background: #F2F2F2;
  }
  .slide_con {
    padding-left: 3rem;
  }
  .slide_con ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .slide_con ul li {
    color: #FF3264;
    font-size: 1.3rem;
    padding-right: 0.45rem;
  }
  .slide_con p {
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 1.5rem 0;
    color:#000;
  }
  .slide_con img {
    width: 65px;
    text-align: left;
    display: block;
  }
  .slide_con strong {
    display: flex;
    text-align: left;
    margin-top: 1.5rem;
    align-items: center;
    color:#000;
  }
  .slide_con strong span {
    font-weight: normal;
    font-size: 0.85rem;
  }
  .swiper2.mySwiper2 .swiper-slide.swiper-slide-active {
    background: #FF3D4F;
    width: 470px !important;
    height: 450px !important;
  }
  .swiper2.mySwiper2 .swiper-slide.swiper-slide-active .slide_con p {
    color: #fff;
  }
              .swiper2.mySwiper2 .swiper-slide.swiper-slide-active .slide_con strong {
                color: #fff;
              }
  .swiper2.mySwiper2 .swiper-slide.swiper-slide-active .slide_con ul li {
  
    color: #fff;
    font-size: 1.5rem;
    padding-right: 0.6rem;
  
  }
  .swiper2.mySwiper2 .swiper-slide.swiper-slide-active .slide_con img {
    width: 80px;
  }
  .swiper2.mySwiper2 .swiper-pagination-clickable .swiper-pagination-bullet {
      cursor: pointer;
      color: #1a1a1a;
  }
  .re_con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .re_text h3 {
      color: #3D3D3D;
      font-weight: 700;
      font-size: 3rem;
      text-align: left;
  }
  .re_text h3 span {
    color: #FF3D4F;
    font-family: 'yg-jalnan';
  }
  .re_text {
    padding-left: 10rem;
    width: 55%;
  }
  .qna {
    max-width: 1400px;
    margin: 10rem auto;
  }
  .qna h3 {
    font-size: 3rem;
    text-align: center;
    color: #3D3D3D;
    margin-bottom: 3rem;
  }
  .qna_con {
    padding: 1.8rem;
    background: #F2F2F2;
    margin-bottom: 0.7rem;
    border-radius: 15px;
  }
  .qna_con span {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .qna_con p {
    font-size: 1rem;
    color: #000;
  }
              .menu-item-a {
              background:#fff;
    border-radius:20px;
    padding:1.5rem;
            margin-top: 3rem;
              }
  
  @media screen and (max-width:1200px) {
    body {
      overflow-x:hidden;
    }
  .qna h3 {
      font-size: 2rem;
      text-align: center;
      color: #3D3D3D;
      margin-bottom: 3rem;
  }
   .qna_con span {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
  } 
    .qna_con p {
      font-size: 0.8rem;
      color: #000;
      line-height: 1.5;
  }
      .swiper2.mySwiper2 .swiper-slide.swiper-slide-active .slide_con ul li {
    color: #fff;
    font-size: 1.1rem;
    padding-right: 0.3rem;
  }
  .slide_con p {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  .slide_con p br {
    display: none;
  }
  .slide_con {
    padding-left: 1rem;
  }
  .swiper2.mySwiper2 .swiper-slide.swiper-slide-active .slide_con img {
    width: 50px;
  }
  .slide_con ul li {
    color: #FF3264;
    font-size: 1.1rem;
    padding-right: 0.3rem;
  }
  .slide_con img {
    width: 50px;
    text-align: left;
    display: block;
  }
    #score-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  #score-container .col {
      margin: 0;
      width: 100%;
  }
  #score-container .col p.count-num {
      font-size: 2.5rem;
      margin-bottom: 1rem;
  }
    #score-container .col p {
      font-size:0.8rem;
    }
    .main_top img.m_main {
      display: block;
    }
    .main_top img.pc_main {
      display: none;
    }
    .main_text h2 {
      font-size: 2rem;
    }
    .main_text p {
      font-size: 1rem;
    }
    .section2  {
      padding: 0 1.5rem;
      margin-bottom:6rem;
    }
    .section2 span.text_h3 {
      font-size:2rem;
    }
    .section2 span.text_p {
      font-size:1rem;
    }
    .section1 {
    padding: 0 1.5rem;
      margin: 0;
    }
    .section1 .icon_text span.text_h3 {
      font-size: 2rem;
    }
    .container {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
    .section1 .icon_text span.text_p {
      font-size: 1rem;
    }
    .items_wrap {
      margin: 4rem 0;
      flex-wrap: wrap;
    }
    .items_wrap .section1-item {
      width:100%;
    }
    .items_wrap .section1-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 48%;
      margin-bottom: 2rem;
    }
    .items_wrap .section1-item span {
      text-align: center;
      font-weight: 300;
      font-size: 0.7rem;
    }
    .items_wrap .section1-item span br {
      display: none;
    }
   .items_wrap .section1-item h4 {
      display: block;
      margin: 1rem 0;
      font-size: 1rem;
    }
    .sec01_img, .sec02_img {
      width: 50px;
    }
    .section_01.section_02 .sns_list {
      width: 100%;
      margin: 0 auto;
  }
  .section_02 .sns_list ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    margin-bottom: 2rem;
  }
  .section_01.section_02 .sns_list ul li p span {
    font-size: 2.2rem;
  }
  .section_03 h3 {
    font-size: 2rem;
    margin: 5rem 0 4rem;
  }
  .section_03 .sec_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .section_03 .sec_wrap .first_wrap {
    width: 47%;
  }
    .section_03 .sec_wrap .second_wrap {
      width:47%;
    }
  .section_03 .sec_wrap ul li {
    margin-bottom: 4rem;
  }
  .section_03 .sec_wrap .sec4 p {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }
  .section_03 .sec_wrap div .sec4 strong {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .re_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .re_text {
    padding-left: 0;
    width: 100%;
  }
  .re_text h3 {
    font-size: 2rem;
  }
  .review {
    background: #F2F2F2;
    padding: 5rem 0 5rem 1.5rem;
  }
  
  .qna {
    max-width: 1400px;
    margin: 5rem auto;
    padding: 1.5rem;
  }
  
  
  .qna_con div br {
    display: none;
  }
  footer .foot_wrap .foot_text {
    color: #fff;
    font-size: 0.65rem;
  }
  footer .foot_wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 6rem;
  }
  .foot_kakao span.long {
  width: 100%;
      font-size: 0.75rem;
      padding: 0 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
    .foot_kakao span.long a {
      text-decoration:none;
      color:#000;
    }
  .foot_kakao span.short {
    display: none;
  }
  
  .foot_kakao {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  width: 84%;
  }
  
    .qna_con div br.br {
      display:block;
    }
  
  .col-md-8.col-md-offset-2 .login_img {
      width: 50%;
      display: none;
  }
  
    .col-md-8.col-md-offset-2 .well .form-group {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center
  }
  
    .row.login_page {
      height: 100%;
      width: 100%;
          margin: 5rem 0;
  }
  .col-md-8.col-md-offset-2 .well form {
      width: 87%;
  }
    .col-md-8.col-md-offset-2 .well .form-group input {
      padding: 1rem;
      border: 1px solid #999999;
      border-radius: 50px;
      margin-bottom: 1rem;
      outline: none;
      font-size: 0.9rem;
      line-height: 1.5;
  }
    .col-md-8.col-md-offset-2 {
      padding: 0;
    }
  .row.login_page button.login_close {
      color: #000;
      background: none;
      position: absolute;
      border: none;
      outline: none;
      right: 2rem;
      font-size: 2.5rem;
      top: 2rem;
      cursor: pointer;
  }
  
  }
              @media screen and (max-width:400px) {
  .col-md-8.col-md-offset-2 .well .form-group input {
      padding: 0.7rem 1rem;
      border: 1px solid #999999;
      border-radius: 50px;
      margin-bottom: 1rem;
      outline: none;
      font-size: 0.9rem;
      line-height: 1.5;
      width: 38%;
  }
              }
            </style>   
  
  
  
  
  
  
  <div class="background">
    <img src="https://cdn.mypanel.link/ilx2w5/84r66rxng2lj1kh7.png">
  </div>
  
  
  <div class="noauth-container">
      <div class="main">
          <div style="display: none;">
              <img src="https://cdn.mypanel.link/ilx2w5/pqtiistxnawhbg6s.png" id="main-pic" style="width:500px;margin-top: 100px;margin-right: 29px;">
      
              <!-- <div class="box-item">
                  <p class="js-nametag-1" style="font-family: 'Wotfard', sans-serif!important;">FAST.EASY.SAFE.</p>
                  {# <p class="js-nametag-1">Game Master</p> #}
            </div> -->
          </div>
        <!--
        <div class="move_icon">
          <img class="cloud1" src="https://cdn.mypanel.link/ilx2w5/9cbdjh266ilaii9k.png">
          <img class="cloud2" src="https://cdn.mypanel.link/ilx2w5/1rgadzsi6u8zr639.png">
          <img class="ico1" src="https://cdn.mypanel.link/ilx2w5/sy0nb1syiunmtup2.png">
          <img class="ico2" src="https://cdn.mypanel.link/ilx2w5/6r8lo99zlzkl472h.png">
        </div>
        -->
          <div>
              <div class="main_top">
                    <img class="pc_main" src="https://cdn.mypanel.link/ilx2w5/uxpxudurcgykyzqp.png" alt="">
      <img class="m_main" src="https://cdn.mypanel.link/ilx2w5/cspwy38q74pycdgu.png" alt="">
                <div class="main_text col-md-7" data-aos="fade-down">
                  <h2 id="header-desc-1" style="font-family: 'yg-jalnan';font-weight:700;" data-aos="fade-down">
                  대한민국 SNS 마케팅<br/>
                  NO.1 (고객사)
                  </h2>
                  <p id="header-desc-2">
                  (고객사)만의 마케팅 솔루션으로<br/>
                  대표님의 성공 파트너가 되어드립니다.
                  </p>
                  <button onclick="freeMode()">둘러보기</button>
                </div>
              </div>
              
              
          </div>
          
      </div>
    
    
    <div class="row login_page">
      <!--
    <button class="login_close" onclick="$('.login_page').hide();"><i class="fa-solid fa-arrow-right fa-4xs"></i></button>-->
  
                  <div class="col-md-8 col-md-offset-2" style="width:100%;">
                    
                      <div class="well">
                        <!--
                        <h2>Login
                          <span>아직 회원이 아니신가요? 지금 바로 가입하세요!<a href="{{ page_url('signup') }}">회원가입</a></span>
                        </h2>
                        -->
                          <form {% if site['rtl'] %}class="rtl-form"{% endif %} method="post" action="{{ page['url'] }}" id="login">
                              {% if error %} <!-- 에러날 때 -->
                                  <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                      {{ errorMessage }}
                                  </div>
                              {% endif %}
  
                              {% if success %} <!-- 성공했을 때 -->
                                  <div class="alert alert-success alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                      {{successMessage}}
                                  </div>
                              {% endif %}
  
                              <div class="form-group">
                                  <input type="text" class="form-control" id="username" name="LoginForm[username]" style="width: 48%!important;" placeholder="아이디를 입력해주세요.">
                                  <input type="password" class="form-control" id="password" name="LoginForm[password]" style="width: 48%!important;" placeholder="비밀번호를 입력해주세요.">
                                  {# {% if site['resetPassword'] %}
                                      <a href="{{ page_url('resetpassword') }}" class="forgot-password">{{ lang('signin.reset_password') }}</a>
                                  {% endif %} #}
                              </div>
                              <div class="checkbox" style="display: flex; align-items: center; justify-content: space-between;">
                              <label style="color: black;">
                                  <input type="checkbox"  name="LoginForm[remember]" value="1" id="remember">자동로그인
                              </label>
                              {% if registration %}
                              <span class="pull-right pull-right-middle" style="color: black;">
                                <a style="color:#000;" href="{{ page_url('signup') }}">회원가입</a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a style="color:#000;" href="/resetpassword">비밀번호 찾기</a>
                                </span>
                          {% endif %}
                          </div>
              
                          {% if captcha %}
                              {{ captchaCode }}
                          {% endif %}
                  
                          <input type="hidden" name="_csrf" value="{{csrftoken}}">
                          <button type="submit" id="loginBtn" class="btn btn-primary" style="width: 100%;">Login</button>
               
                          
                          </form>
                      </div>
                    <!--
                    <div class="login_img">
                      <img src="https://cdn.mypanel.link/ilx2w5/0teopmpawudgklmu.png">
                    </div>-->
                  </div>
              </div>
    
    
      <section class="section1 col-md-7" data-aos="fade-up">
        <div class="icon_text">
          <img class="sec01_img" src="https://cdn.mypanel.link/ilx2w5/oi69ca5xqcnuqhl5.png">
          <span class="text_h3" style="font-weight:700">우리의 서비스</span>
          <span class="text_p">인스타그램은 물론 다양한 소셜 네트워크<br/>서비스를 간편하게 관리할 수 있습니다.</span>
        </div>
          <div id="section1-items-Wrapper" class="items_wrap" style="">
              <div class="section1-items">
                  <div class="section1-item" style="display:flex; align-items:center; flex-direction:column; justify-content: center;">
                      <img src="https://cdn.mypanel.link/ilx2w5/3y1s2yqtad984xui.png" alt="">
                      <h4 style="font-weight: 600;color:black!important;">Instagram</h4>
                      <span style="color:black!important;">계정 팔로워, 피드 좋아요,<br>
                          동영상 조회수를 늘릴 수
                          있는 서비스입니다.</span>
                  </div>
              </div>
              <div class="section1-items">
                  <div class="section1-item" style="display:flex; align-items:center; flex-direction:column; justify-content: center;">
                      <img src="https://cdn.mypanel.link/ilx2w5/kf347uwl1dgty3pw.png" alt="">
                      <h4 style="font-weight: 600;color:black!important;">Facebook</h4>
                      <span style="color:black!important;">계정/페이지 팔로워와 좋아요,
                          동영상 <br>조회수를 늘릴 수
                          있는 서비스입니다.</span>
                  </div>
              </div>
              <div class="section1-items">
                  <div class="section1-item" style="display:flex; align-items:center; flex-direction:column; justify-content: center;">
                      <img src="https://cdn.mypanel.link/ilx2w5/d1n3pnk3s2slo51g.png" alt="">
                      <h4 style="font-weight: 600;color:black!important;">Youtube</h4>
                      <span style="color:black!important;">구독자 늘리기,
                          동영상 공유, 동영상 <br>조회수를
                          늘릴 수 있는 서비스입니다.</span>
                  </div>
              </div>
              <div class="section1-items">
                  <div class="section1-item" style="display:flex; align-items:center; flex-direction:column; justify-content: center;">
                      <img src="https://cdn.mypanel.link/ilx2w5/1puh1opr6m7k8gwd.png" alt="">
                      <h4 style="font-weight: 600;color:black!important;">Etc</h4>
                      <span style="color:black!important;">틱톡, 트위터 등의
                          SNS 계정의 <br>팔로워와
                          좋아요를 늘릴 수 있습니다.</span>
                  </div>
              </div>
          </div>
      </section>
      <section class="section2 col-md-7" data-aos="fade-up">
        <div class="sec02" style="text-align:center;">
          <img class="sec02_img" src="https://cdn.mypanel.link/ilx2w5/zmw9ep0mzt859u0m.png">
        </div>
          <span class="text_h3" style="font-weight:700">진행상황</span>
        
          <span class="text_p">가치를 상승시키는 SNS 브랜드 마케팅,<br/>(고객사)과 함께할 수 있습니다.</span>
          
          <div id="score-container">
          <div class="col">
              <p class="count-num" data-count="8580" style=" color:#EB3557; text-align: center;font-weight: 700;">0</p>
              <p style="  text-align: center;">현재 진행중인 주문</p>
          </div>
          <div class="col">
              <p class="count-num" data-count="4881" style="color:#EB3557; text-align: center;font-weight: 700;">0</p>
              <p style="  text-align: center;">오늘 완료된 주문</p>
          </div>
          <div class="col">
              <p class="count-num" data-count="23596" style="color:#EB3557; text-align: center;font-weight: 700;">0</p>
              <p style="  text-align: center;">(고객사) 회원 수</p>
          </div>
      </div>
      </section>
    <div class="section3">
          <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper_text">
            <h4>
              <span>SNS 브랜드 마케팅 NO.1</span>
              (고객사)의 장점
            </h4>
            <strong>EASY</strong>
            <h4 class="number">01</h4>
            <p>
              손쉬운 사용법<br>
              오랜 연구를 통해 누구나 쉽게 이해하고<br>
              사용할 수 있도록 만들었습니다.
            </p>
          </div>
          <div class="swiper_img">
            <img src="https://cdn.mypanel.link/ilx2w5/dj6xkqtkp79yjlt4.png" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper_text">
            <h4>
              <span>SNS 브랜드 마케팅 NO.1</span>
              (고객사)의 장점
            </h4>
            <strong>AUTO</strong>
            <h4 class="number">02</h4>
            <p>
              무인 자동 시스템<br>
              국내 최고의 무인 자동 시스템으로<br>
              24시간 언제든지 주문이 가능합니다.
            </p>
          </div>
          <div class="swiper_img">
            <img src="https://cdn.mypanel.link/ilx2w5/sqjxrat1p5ff7mdo.png" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper_text">
            <h4>
              <span>SNS 브랜드 마케팅 NO.1</span>
              (고객사)의 장점
            </h4>
            <strong>FAST</strong>
            <h4 class="number">03</h4>
            <p>
              빠른 주문 처리<br>
              중간 딜레이 없이 주문 즉시 프로그램이<br>
              가동되기 때문에 빠른 처리가 가능합니다.
            </p>
          </div>
          <div class="swiper_img">
            <img src="https://cdn.mypanel.link/ilx2w5/xj8gxctch0a8tzgb.png" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper_text">
            <h4>
              <span>SNS 브랜드 마케팅 NO.1</span>
              (고객사)의 장점
            </h4>
            <strong>SAFE</strong>
            <h4 class="number">04</h4>
            <p>
              안전한 보안시스템 구축<br>
              회원님의 소중한 개인정보 보호를 위해<br>
              최고의 암호화 보안서버를 사용합니다.
            </p>
          </div>
          <div class="swiper_img">
            <img src="https://cdn.mypanel.link/ilx2w5/swcq8yyy41p9u13j.png" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
     </div>
    
    
    
      <section class="section3_1" style="height: 700px;margin: 128px 0; border-radius: 16px;padding: 64px;background-color: white;">
          <div style="display: flex; justify-content:center;">
              <div>
                  <div id="wrap" style="position: relative;">
                      {# <img src="https://cdn.mypanel.link/ilx2w5/wiqzxxzurbwqyc23.png" alt="" style="width: 500px;"> #}
                      <!-- 움직일 이미지들 -->
                      <div class=imgBox style="width:500px;height:500px;top:0;">
                          <!-- free url 사진 -->
                          <img class="img on" src="https://cdn.mypanel.link/ilx2w5/reafs24o8qt45baf.png" alt="">
                          <img class="img" src="https://cdn.mypanel.link/ilx2w5/q5qwe4e9m9to6zmd.png" alt="">
                          <img class="img" src="https://cdn.mypanel.link/ilx2w5/0rkdaaefqk0j18zj.png" alt="">
                      </div>
                      <div>
                          <div style="display: flex; justify-content: space-between;">
                          <!-- 버튼을 실행시 이전, 다음으로 움직이다 -->
                          <button class="prev" style="background: transparent;border: 0px;"><img src="https://cdn.mypanel.link/ilx2w5/hjenomn1b8etkuh7.png" alt="" style="width: 32px;"></button>
                          <button class="next" style="background: transparent;border: 0px;"><img src="https://cdn.mypanel.link/ilx2w5/k4pmg1nqgshas991.png" alt="" style="width: 32px;"></button>
                          </div>
                      </div>
                  </div>
              </div>
              <div>
                  <span style="font-size:40px; font-weight:bold;letter-spacing: -1.11px; color:#1a4394;">SNS 브랜드 마케팅 NO.1</span><br/>
                  <span style="font-size:75px; font-weight:bold;letter-spacing: -2.25px; color:#1a4394; text-shadow: 2px 2px 2px grey;">(고객사)의 장점</span>
                  <div style="display: flex; flex-direction:column;line-height: 1.1;margin-top:32px;">
                      <span class="title-word sec3-f1" style="font-size:60px; font-weight:bold; color:#ed5760;text-shadow: 2px 2px 2px grey;">EASY</span>
                      <span class="title-word sec3-f2" style="font-size:60px; font-weight:bold; color:#ed5760;text-shadow: 2px 2px 2px grey;">AUTO</span>
                      <span class="title-word sec3-f3" style="font-size:60px; font-weight:bold; color:#ed5760;text-shadow: 2px 2px 2px grey;">FAST</span>
                      <span class="title-word sec3-f4" style="font-size:60px; font-weight:bold; color:#ed5760;text-shadow: 2px 2px 2px grey;">SAFE</span>
              </div>
          </div>
      </section>
        
        
  
        
        
        
      <section class="section4 section_03" style="width:100%; text-align:center; color:white;">
          <h3 style="font-weight:700">(고객사) 이용안내</h3>
          <div style="max-width: 1400px;
      margin: 0 auto;">
              <div id="section4Wrapper" class="sec_wrap">
                <div class="first_wrap">
                  <div id="section4_1" class="sec4 col-md-7" data-aos="fade-up">
                    <img src="https://cdn.mypanel.link/ilx2w5/3qs02qere912b888.png">  
                    <strong><span>1</span> 계정 생성</strong>
                      <p>이메일 ID, 사용자 이름, 비밀번호로  (고객사)에 가입합니다.</p>
                  </div>
                  <div id="section4_2" class="sec4 col-md-7" data-aos="fade-up">
                    <img src="https://cdn.mypanel.link/ilx2w5/ijqeu2a1boga2bu8.png">   
                    <strong><span>3</span> 주문하기</strong>
                      <p>목적에 맞는 서비스를 선택하고 예산에 맞춰 주문합니다.</p>
                  </div>
                </div>
                <div class="second_wrap">
                  <div id="section4_3" class="sec4 col-md-7" data-aos="fade-up">
                    <img src="https://cdn.mypanel.link/ilx2w5/g3mlapiw5m33nf23.png">    
                    <strong><span>2</span> 포인트 충전</strong>
                      <p>카드결제, 무통장입금으로 간편하게 포인트를 충전합니다.</p>
                  </div>
                  <div id="section4_4" class="sec4 col-md-7" data-aos="fade-up">
                    <img src="https://cdn.mypanel.link/ilx2w5/1z20z944eq3hpfea.png">    
                    <strong><span>4</span> 주문완료</strong>
                      <p>편히 앉아서 소셜미디어의 성장을 지켜보세요. 주문내역에서 실시간 현황도 확인할 수 있습니다.</p>
                  </div>
                </div>
              </div>
          </div>
      </section>
      <section class="section5">
  <div class="review">
    <div class="re_con">
      
      <div class="re_text col-md-7" data-aos="fade-left">
        <h3 style="font-family: 'yg-jalnan';">실제 <span>Value</span>을<br>달성한 찐 리뷰를<br>들어보세요</h3>
      </div>
  
      <div class="swiper2 mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide_con">
              <ul style="list-style:none; padding: 0;">
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
              </ul>
              <p>"제가 혼자 했을 때와 비교도 안될 정도로<br>
              방문자 수와 인기가 늘었습니다.<br>
              많은 도움받고 있습니다."</p>  
              <img src="https://cdn.mypanel.link/ilx2w5/soo7yh2a9t3izr2c.png" alt="">
              <strong>손** 님&nbsp;&nbsp;<span>1인기업</span></strong>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide_con">
              <ul style="list-style:none; padding: 0;">
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
              </ul>
              <p>"사업과 마케팅 일을 같이 하기 힘들었는데,<br>
              (고객사) 으로 SNS마케팅 관리도<br>
              받을 수 있어서 너무 만족스러워요."</p>  
              <img src="https://cdn.mypanel.link/ilx2w5/oa7a9gtekotw45c3.png" alt="">
              <strong>박** 님&nbsp;&nbsp;<span>자영업자</span></strong>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide_con">
              <ul style="list-style:none; padding: 0;">
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
              </ul>
              <p>"처음 사용해도 어렵지 않은 사용법 덕분에<br>
              쉽고 편하게 이용했네요.실제 활동하는<br>
              사람들이 찾아와서 효과를 더 많이 받았어요. <br>
                (고객사) 대만족입니다!!"</p>  
              <img src="https://cdn.mypanel.link/ilx2w5/z19qs2ducq8nkr62.png" alt="">
              <strong>조** 님&nbsp;&nbsp;<span>모델</span></strong>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide_con">
              <ul style="list-style:none; padding: 0;">
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
              </ul>
              <p>"세미나를 통해서 알게된 (고객사)!!<br>
              다년간 사업의 경력이 있어서인지 마케팅<br>
               노하우가 어마어마하네요!!<br>
              (고객사) 하나로 광고는 끝입니다!!"</p>  
              <img src="https://cdn.mypanel.link/ilx2w5/soo7yh2a9t3izr2c.png" alt="">
              
              <strong>박** 님&nbsp;&nbsp;<span>뷰티샵대표</span></strong>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide_con">
              <ul style="list-style:none; padding: 0;">
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
              </ul>
              <p>"비숫한 많은 사이트들이 있었는데,<br>
              가장 효과가 좋았어요!<br>
                (고객사) 서비스 품질에 놀랐습니다.<br>
              든든한 파트너에요!"</p>  
              <img src="https://cdn.mypanel.link/ilx2w5/oa7a9gtekotw45c3.png" alt="">
              <strong>강** 님&nbsp;&nbsp;<span>인플루언서</span></strong>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide_con">
              <ul style="list-style:none; padding: 0;">
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
                <li><i class="fa-solid fa-star fa-4xs"></i></li>
              </ul>
              <p>"SNS마케팅! 마냥 짐이였는데 저와 같<br>
              이 걱정하시는 분들 꼭 사용해보세요.<br>
               큰 도움 되실거에요."</p>  
              <img src="https://cdn.mypanel.link/ilx2w5/z19qs2ducq8nkr62.png" alt="">
              <strong>김** 님&nbsp;&nbsp;<span>자영업자</span></strong>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
  
    </div>
  </div>
      </section>
      <section id="section6" class="section6 qna col-md-7" data-aos="fade-up">
          <h3>자주 묻는 질문</h3>
          <div id="menu-container" class="menu-container qna_con" style="cursor: pointer;">
              <div class="menu-item-q" style="text-align: left;">
                  <span>
                      Q. 보안상 위험하지 않나요?
                    <i class="fa-solid fa-chevron-down fa-4xs"></i>
                  </span>
              </div>
              <div class="menu-item-a" style="display: none;">
                  <p>모든 소셜미디어 작업에 있어 비밀번호를 요구하지않습니다.
                      (고객사)의 서비스는 실제 한국인들을 대상으로 진행되며 리워드 형식의 안전한 작업방식으로 진행이 되기에 안심하고 이용할수 있습니다.
                      5년간 검증 된 플랫폼이며 처음 접하는 고객님들께서도 누구나 손쉽게 접근이 가능합니다.</p>
              </div>
          </div>
          <div id="menu-container" class="menu-container qna_con" style="cursor: pointer;">
              <div class="menu-item-q" style="text-align: left;">
                  <span>
                      Q. 주문 가능한 시간이 어떻게 되나요?
                    <i class="fa-solid fa-chevron-down fa-4xs"></i>
                  </span>
              </div>
              <div class="menu-item-a" style="display: none;">
                  <p>(고객사)의 모든 서비스는 24시간 언제든 주문이 가능하며 주문후 처리가 자동으로 이루어지는
                      24시 무인 자동서비스입니다.
                      따라서 포인트만 있으시다면 언제든 이용이 가능합니다.</p>
              </div>
          </div>
          <div id="menu-container" class="menu-container qna_con" style="cursor: pointer;">
              <div class="menu-item-q" style="text-align: left;">
                  <span>
                      Q. 어떤 서비스를 판매중인가요?
                    <i class="fa-solid fa-chevron-down fa-4xs"></i>
                  </span>
              </div>
              <div class="menu-item-a" style="display: none;">
                  <p>(고객사)은 인스타그램 인기게시물 마케팅 이외에도 유튜브/페이스북/틱톡/텔레그렘/트위터/카카오톡체널등 다양한 SNS채널에 대한 서비스를 지원하고 있습니다.
                  자동화 마케팅 플랫폼 특성상 중간과정 없이 매우 저렴한 도매가격에 판매를 진행하고 있습니다.</p>
              </div>
          </div>
        <div id="menu-container" class="menu-container qna_con" style="cursor: pointer;">
              <div class="menu-item-q" style="text-align: left;">
                  <span>
                      Q. 인스타그램 팔로워 서비스
                    <i class="fa-solid fa-chevron-down fa-4xs"></i>
                  </span>
              </div>
              <div class="menu-item-a" style="display: none;">
                  <p>
                
                    [인스타그램 팔로워 구매]<br class="br"/>
  <br class="br"/>
  "인스타 팔로워 늘리기"를 한다고 해서 계정에 악영향을 미칠까요?
  직접 휴대폰을 보며 수기로 팔로워를 신청하는 경우 인스타그램에서 알아 낼 방법이 없습니다.
  팔로워 수는 고객들에게 가장 먼저 보여지는 업체의 브랜드 이미지이자 인기의 척도입니다.
  (고객사)은 자사 자체 리워드 플랫폼을 운영하고 있으며 자사 플랫폼 회원들의 리워드 형식으로 작업하여 인스타그램의 계정 지수 반응을 일으킵니다.
  팔로워 구매에 있어 부정적인 시선은 항상 존재하지만 현재도 많은 마케터/인플루언서들이 필수적인 트리거를 위하여 필수적으로 구매하고 있는 현실입니다.
  <br class="br"/><br class="br"/>
  [인스타그램 팔로워 AS정책]<br class="br"/>
  <br class="br"/>
  정당한 값을 지불하고 구매 한 팔로워에서 이탈이 발생한다는것은 있을수도 없는 일이며 구매하는 의미가 사라지게 됩니다.
  업체 별 팔로워 상품의 이탈통계,A/S 정책을 꼼꼼히 확인 하신 다음 구매하는것이 바람직 합니다.
  (고객사)은 자사의 리워드 회원에게 별도의 패널티를 부여하고 있으며 인스타그램 정책에 준수하여 팔로워 작업을 진행하고 있습니다.
  이탈 통계 지수 분석 결과 한달 0%~5%의 수치를 나타내고 있으며 이 적은 확률도 체계적인 무상 A/S를 통하여 고객님의 인스타그램 계정안전을 위해 
  최선의 대응을 하고 있습니다.
  <br class="br"/><br class="br"/>
  [인스타그램 팔로워 계정품질]<br class="br"/>
  <br class="br"/>
  구매한 팔로워 계정이 [유령]계정만 있다면 브랜드이미지 감소와 더불어 빈껍데기에 불과 할것입니다.
  현재 (고객사)은  고객님의 니즈에 맞게 단순 팔로워 증진을 위한 생성계정 팔로워 서비스도 저렴하게 판매중이지만 이도 수차례 엄격한 검수 과정을 
  거쳐 실제 사람과 같은 안전한 작업을 진행하고 있으며, 회원님의 계정에 대한 단 1%의 리스크가 있는 팔로워 상품은 기획/판매를 절대 하지 않습니다.
  
                
                </p>
              </div>
          </div>
        <div id="menu-container" class="menu-container qna_con" style="cursor: pointer;">
              <div class="menu-item-q" style="text-align: left;">
                  <span>
                      Q. 인스타그램 좋아요 서비스 
                    <i class="fa-solid fa-chevron-down fa-4xs"></i>
                  </span>
              </div>
              <div class="menu-item-a" style="display: none;">
                  <p>
                
                [인스타 좋아요 늘리기]<br class="br"/>
  <br class="br"/>
  (고객사)은 불법 프로그램/봇을 통한 인스타그램에서 제한하는 마케팅을 절대 진행하지 않습니다.
  모든 인스타그램 좋아요 작업은 개인의 휴대폰으로 수기로 직접 일정시간 둘러 본 후 작업하는 방식으로 진행중에 있으며 이는 게시물 인사이트(도달+노출)반응울 불러 일으키게 됩니다.
  인스타그램에서 지향하고 권장하는 알맞고 정직한 작업방식으로의 지수반응을 유도하여 "인기게시물"에 도달할수 있게하고 이러한 결과는 잠재고객을 향한 노출도 향상으로 인한 매출로 전환 될 것입니다.
  <br class="br"/><br class="br"/>
  [인스타그램 인기게시물]<br class="br"/>
  <br class="br"/>
  인스타그램 인기게시물은 매년 그에 대한 로직을 업데이트하며 더 똑똑해지고 기준이 변화하고 있습니다.
  처음 인스타그램을 접하는 소상공인/마케터들도 쉽고 편하게 이용 할 수 있도록 [인기게시물셀프작업] 구매 카테고리를 별로로 두어 서비스제공에 있으며
  단계별 가이드라인에 맞게 쉽게 인기게시물을 등록하실 수 있습니다.
  <br class="br"/><br class="br"/>
  [인스타그램 그로스해킹]<br class="br"/>
  <br class="br"/>
  인스타그램 서비스의 구상단계부터 프로그래밍,빅데이터 분석 등을 적극적으로 활용하여 제품의 서비스를 제작하게 되며, 빠르게 변화하는 시장에 발맞춰 (고객사)은 고객님들에게 좀 더 빠른 소식/서비스로 보답하기 위해 최선을 다하고 있습니다.
                
                </p>
              </div>
          </div>
      </section>
  
  {% if authText %}
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <div class="well {% if site['rtl'] %} rtl-content {% endif %}">
                      {{ authText }}
                  </div>
              </div>
          </div>
      </div>
  {% endif %}
  <script>
  /*
      $(document).ready(function(){
          $(".menu-item-q").click(function(){
              var submenu = $(this).next("div");
              // submenu 가 화면상에 보일때는 위로 보드랍게 접고 아니면 아래로 보드랍게 펼치기
              if( submenu.is(":visible") ){
                  submenu.slideUp().css('color','#000');
                  submenu.parent().css({background:'#F2F2F2', color:'#000'});
              } else {
                  submenu.slideDown().css({background:'#fff', color:'#000'});
                  submenu.parent().css({background:'#FF3D4F', color:'#fff'});
              }
            });
   
      });
  */
    $(document).ready(function(){
          $('.qna_con .menu-item-q').on('click', function(){
                  $(this).next().slideDown().css({background:'#fff', color:'#000'});
                $(this).next().parent().css({background:'#FF3D4F', color:'#fff'});
                $('.menu-item-q').not(this).next().slideUp();
                $('.menu-item-q').not(this).next().parent().css({background:'#F2F2F2', color:'#000'});
            });
     });
  
     function freeMode() {
          alert("'둘러보기' 페이지가 열리지 않을 경우, captcha(자동입력방지)를 누르신 후 다시 '둘러보기' 버튼을 눌러주세요");
          document.getElementById("username").value = "observer";
          document.getElementById("password").value = "observer369";
          document.getElementById("loginBtn").click();
      }
    
    
    
  
      $('.count-num').each(function() { // .count-num에 각각 적용
    var $this = $(this),
        countTo = $this.attr('data-count');
        // $this = 첫번째~세번째 .count-num
        // countTo = 첫번째~세번째 .count-num의 data-count 속성의 값(777,555,333)
    
    $({ countNum: $this.text()}).animate({
      countNum: countTo 
      // countNum: $this.text() = 0, countNum: countTo = 777, 555, 333
      // 0에서 countNum이 된다
    },
    {
      duration: 2000, // 애니메이션이 완료될때까지 걸리는 시간
      easing:'linear', // 애니메이션 효과 방식
      step: function() { // 움직임 각 스텝별로 실행될 함수
        $this.text(Math.floor(this.countNum));
        // Math.floor -> this.countNum의 값을 정수로 만들어준다
      },
      complete: function() { // 움직임이 멈춘 후 실행될 함수
        $this.text(this.countNum);
        // this.countNum이 $this의 text값이 된다
        //alert('finished');
      }
    });  
  });
  $(".prev").on("click", function (e) {
        e.preventDefault();
  
        // 이미지 현재의 위치
        var imgOn = $(".imgBox").find(".on").index();
        // 이미지 총 개수 
        var imgLen = $(".imgBox .img").length;
        console.log(imgOn)
        
        // imgBox안의 img 중 imgOn 번째의 on 클래스 삭제 
        $(".imgBox .img").eq(imgOn).removeClass("on");
        // imgBox안의 img 중 imgOn 번째 숨기기 
        $(".imgBox .img").eq(imgOn).css("opacity", 0);
        
        //  이전의 위치로 돌아가야함으로
        imgOn = imgOn -1;
  
        if( imgOn < 0 ){
          // 돌아가 위치가 -1일 경우 
          // 이미지의 마지막으로 돌아간다
          $(".imgBox .img").eq(imgLen -1).css("opacity", 1);
          $(".imgBox .img").eq(imgLen -1).addClass("on");
        }else{
          // 돌아갈 위치가 -1이 아닌 경우
          $(".imgBox .img").eq(imgOn).css("opacity", 1);
          $(".imgBox .img").eq(imgOn).addClass("on");
        }
  
      });
  
      $(".next").on("click", function (e) {
        e.preventDefault();
        // 위에 동일 
        var imgOn = $(".imgBox").find(".on").index();
        var imgLen = $(".imgBox .img").length;
  
        // 위에 동일
        $(".imgBox .img").eq(imgOn).removeClass("on");
        $(".imgBox .img").eq(imgOn).css("opacity", 0);
        
        // 다음의 위치로 알아야 되기 때문에 
        imgOn = imgOn + 1;
        
        if( imgOn === imgLen ){
          // 다음의 위치가 총 개수보다 클 경우
          // 처음의 위치로 돌아간다
          $(".imgBox .img").eq(0).css("opacity", 1);
          $(".imgBox .img").eq(0).addClass("on");
        }else{
          // 다음 위치가 있는 경우 
          $(".imgBox .img").eq(imgOn).css("opacity", 1);
          $(".imgBox .img").eq(imgOn).addClass("on");
        }
      });
      /*
    div사이즈 동적으로 구하기
  */
  const outer = document.querySelector('.outer');
  const innerList = document.querySelector('.inner-list');
  const inners = document.querySelectorAll('.inner');
  let currentIndex = 0; // 현재 슬라이드 화면 인덱스
  
  inners.forEach((inner) => {
    inner.style.width = `${outer.clientWidth}px`; // inner의 width를 모두 outer의 width로 만들기
  })
  
  innerList.style.width = `${outer.clientWidth * inners.length}px`; // innerList의 width를 inner의 width * inner의 개수로 만들기
  
  /*
    버튼에 이벤트 등록하기
  */
  const buttonLeft = document.querySelector('.button-left');
  const buttonRight = document.querySelector('.button-right');
  
  buttonLeft.addEventListener('click', () => {
    currentIndex--;
    currentIndex = currentIndex < 0 ? 0 : currentIndex; // index값이 0보다 작아질 경우 0으로 변경
    innerList.style.marginLeft = `-${outer.clientWidth * currentIndex}px`; // index만큼 margin을 주어 옆으로 밀기
  });
  
  buttonRight.addEventListener('click', () => {
    currentIndex++;
    currentIndex = currentIndex >= inners.length ? inners.length - 1 : currentIndex; // index값이 inner의 총 개수보다 많아질 경우 마지막 인덱스값으로 변경
    innerList.style.marginLeft = `-${outer.clientWidth * currentIndex}px`; // index만큼 margin을 주어 옆으로 밀기
  });
  
  {# var header = document.getElementById("section6");
  var btns = header.getElementsByClassName("menu-container");
  
  for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("menu-container active");
   
      if (current.length > 0) { 
          current[0].className = current[0].className.replace(" active", "");
      }
  
      this.className += " active";
  
  
      });
  } #}
  
  var header = document.getElementById("section6");
  var btns = header.getElementsByClassName("menu-container");
  for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
          if(this.classList.contains('active')){
              this.classList.remove('active');
          }else{
              var current = document.getElementsByClassName("menu-container active");
              if(current[0]){
                  current[0].classList.remove('active');
              }
              this.classList.add('active');
          }
      });
  }  
  
  
  var words = ['(고객사)만의', '마케팅 솔루션으로', '대표님의 성공 파트너가', '되어드립니다.'],
      part,
      i = 0,
      offset = 0,
      len = words.length,
      forwards = true,
      skip_count = 0,
      skip_delay = 15,
      speed = 70;
  var wordflick = function () {
    setInterval(function () {
      if (forwards) {
        if (offset >= words[i].length) {
          ++skip_count;
          if (skip_count == skip_delay) {
            forwards = false;
            skip_count = 0;
          }
        }
      }
      else {
        if (offset == 0) {
          forwards = true;
          i++;
          offset = 0;
          if (i >= len) {
            i = 0;
          }
        }
      }
      part = words[i].substr(0, offset);
      if (skip_count == 0) {
        if (forwards) {
          offset++;
        }
        else {
          offset--;
        }
      }
      $('.word').text(part);
    },speed);
  };
  
  $(document).ready(function () {
    wordflick();
  });
  
  </script>